body {
  --mhl-text-color: var(--color-text-primary); //foundry default
  --mhl-text-color-inverted: var(--color-dark-1);
  --mhl-text-table-header-color: var(--mhl-text-color-inverted);
  --mhl-table-header-background-color: var(--color-cool-5);
  --mhl-table-subheader-background-color: color-mix(
    in srgb,
    var(--mhl-table-header-background-color),
    rgba(255, 255, 255, 0.1)
  );
  --mhl-text-error-decoration: underline wavy var(--mhl-color-failure);

  --mhl-color-box-border-color: white;
  --mhl-frame-color-1: var(--color-primary-1, var(--color-bg-trait, var(--color-warm-1)));
  --mhl-frame-color-2: var(--color-primary-2, var(--color-pf-primary-light));

  --mhl-reset-text-shadow: none;
  --mhl-checkbox-checked-color: var(--color-warm-1);
  --mhl-input-border-color: var(--color-border-dark-tertiary);
  --mhl-input-disabled-background: var(--color-disabled, var(--color-cool-4));

  --mhl-color-success: var(--color-level-success); //foundry
  --mhl-color-success-bg: var(--color-level-success-bg);
  --mhl-color-warning: var(--color-level-warning, #ee9b3a);
  --mhl-color-failure: var(--color-level-failure, rgb(148, 16, 16));

  &.theme-light .application {
    // --mhl-text-color: var(--text-color-primary);  //foundry default
    --mhl-text-color-inverted: var(--color-text-light-highlight);
    --mhl-text-table-header-color: var(--mhl-text-color-inverted);
    --mhl-color-box-border-color: black;
    --mhl-reset-text-shadow: 1px 1px 2px var(--color-border-dark-tertiary);
  }

  .window-app .window-contents {
    --mhl-text-color: var(--color-text-dark-primary); //foundry default, dorako overrides
    --mhl-color-box-border-color: black;
  }

  [data-color-scheme="light"] {
    // --mhl-text-color: var()
    --mhl-reset-text-shadow: 1px 1px 2px var(--color-border-dark-tertiary);
  }

  [data-theme] {
    --mhl-checkbox-checked-color: var(--accent-color);
    --mhl-input-disabled-background: var(--input-disabled-background);
  }

  --mhl-accordion-speed: 350ms;
  --mhl-mdi-size: 1.1em;
}

.mhl-display-none {
  display: none !important;
}

.mhl-pre-tooltip {
  code {
    white-space: nowrap;
  }
  line-height: 200%;
}

.mhl-fallback-icon {
  color: var(--mhl-color-failure);
}
div.section-separator {
  display: flex;
  align-items: center;
  text-align: center;

  &::before,
  &::after {
    content: "";
    flex: 1;
    border-style: solid;
    border-color: var(--mhl-frame-color-1);
    border-width: 0 0 1px 0;
  }
  &:not(:empty)::before {
    margin-right: 0.25em;
  }
  &:not(:empty)::after {
    margin-left: 0.25em;
  }
}
.mhl-dialog {
  &.autoh {
    height: auto !important;
  }
}
